.image-box {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.image-behind {
  position: relative;
  width: 100%;
  transform: scale(.90);
  height: auto;
  margin: 0;
  padding: 0;
}