.homeContainer {
    display: flex;
    flex-direction: column;
    place-content: center;
    margin-top: 100px;
    min-width: 994px;
    width: 88.5%;
    background-color: transparent;
    border-top: 80px solid #EFEFEF;
    border-bottom: 80px solid #EFEFEF;
    border-left: 300px solid #EFEFEF;
    border-right: 300px solid #EFEFEF;

    &__intro {
        display: flex;
        place-self: center;
        width: 100%;
        z-index: 1px;

        &__details {
            display: flex;
            flex-direction: column;
            place-content: center;
            align-items: center;
            background-color: white;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            height: 800px;
            width: 50%;

            h1 {
                color: #96C0E7;
                display: flex;
                flex-direction: column;
                font-size: 70px;
                margin-bottom: 20px;
                margin-top: 0px;
                font-weight: 300;
                letter-spacing: -0.050em;
            }

            h3 {
                font-size: 20px;
                color: black;
            }

            p {
                font-size: 15px;  
                font-weight: 200;
                color: black;
                padding-left: 80px;
                padding-right: 80px;
            }

            a {
                place-self: center;
                margin-top: 60px;
                font-size: 15px;
                border: 1px solid #96C0E7;
                border-radius: 50px;
                width: 100px;
                padding: 10px;
                color: #96C0E7;
                transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 400ms;
            }

            a:hover {
                color: white;
                background-color: #96C0E7;
            }
        }

        &__img {
            background-color: transparent;
            height: 800px;
            width: 50%;
        }
    }

    &__contact {
        display: flex;
        padding-right: 80px;
        padding-left: 80px;
        width: 89%;
        background-color: #EFEFEF;

        &__img {
            width: 50%;
            height: 380px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            place-content: center;
            background-color: #96C0E7;
            width: 100%;
            align-items: center;

            h2 {
                color: white;
                font-family: 'Montserrat', sans-serif;
                font-size: 40px;
                font-weight: 300;
                letter-spacing: -0.020em;
                margin: 0px;
                margin-bottom: 10px;
            }

            a {
                color: white;
                font-weight: 200;
                letter-spacing: 0.020em;
                padding-bottom: 10px;

            }
            a:hover {
                color: white;
            }

            &__socialmedia {
                display: flex;
                gap: 15px;

                a:hover {
                    cursor: pointer;
                }
            }
        }
    }
}