.navbarContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    place-content: space-between;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100px;
    min-width: 994px;
    background-color: #FFFFFF;

    &__name {
        flex-basis: 25%;
        color: black;
        text-align: left;
        margin-left: 5%;

        a {
            color: black;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 300;
        }

        a:hover{
            cursor: pointer;
        }
    }

    &__links {
        flex-basis: 50%;
        display: flex;
        place-content: end;
        margin-right: 5%;

        p {
            padding-left: 10px;
            padding-right: 10px;
            align-self: baseline;
            font-size: 13px;
            font-weight: 400;
            margin: auto;
            color: black;
        }
        :hover{
            cursor: pointer;
        }
    }
}