:root {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background-color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  overscroll-behavior-y: none;

}

.background {
  background: url(https://static.wixstatic.com/media/15312d_8947a28f34a947c88e0eccf3d84f0f8e~mv2_d_3000_4500_s_4_2.jpg/v1/fill/w_507,h_800,fp_0.38_0.25,q_85,usm_0.66_1.00_0.01,enc_auto/15312d_8947a28f34a947c88e0eccf3d84f0f8e~mv2_d_3000_4500_s_4_2.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: auto 100%;
  transform: scale(.94);
  background-position: 94% -100%;
  background-attachment: fixed;
  object-fit: cover;
  z-index: -1;
  will-change: auto;

  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}
